<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->





    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/route.js"></script>
    <script src="js/controller.js"></script>

</head>

<body ng-app="ionicApp">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
        <ion-view view-title="Sign-In">
            <ion-content>


                <div class="list padding">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="John">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type="text" placeholder="Suhr">
                    </label>

                </div>
                <div class="padding text-center">
                    <button class="button button-royal ion-log-in" ng-click="signIn()">
                        Sign-In
                    </button>


                </div>
            </ion-content>
        </ion-view>
    </script>


    <!--    -->
    <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="home">

            <ion-content>
                <div class="list card">

                    <a href="#" class="item item-icon-left" ng-click="tvchannels()">
                        <i class="icon ion-videocamera"></i> Tv Channels
                    </a>

                    <a href="#" class="item item-icon-left" ng-click="PreArrival()">
                        <i class="icon ion-ios-clock"></i> Pre-Arrival
                    </a>

                    <a href="#" class="item item-icon-left" ng-click="checkin()">
                        <i class="icon ion-checkmark-circled"></i> Check-In / Out
                    </a>

                    <a href="#" class="item item-icon-left" ng-click="guestservice()">
                        <i class="icon ion-card"></i> Guest Service
                    </a>
                    <a href="#" class="item item-icon-left" ng-click="health()">
                        <i class="icon ion-card"></i> Health & fitness
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-model-s"></i> Transportation
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-coffee"></i> Eat & Drink
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-coffee"></i> Business Service
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-card"></i> Meeting & Events
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-information"></i> Information
                    </a>

                </div>

            </ion-content>



        </ion-view>
    </script>


    <!--    -->

    <script id="templates/tvchannels.html" type="text/ng-template">
        <ion-view view-title="TV">

            <ion-content>
                <div class="list card">

                    <a href="#" class="item item-icon-left" ng-click="tvchannels()">
                        <i class="icon ion-videocamera"></i> Tv Guide
                    </a>
                    <a href="#" class="item item-icon-left" ng-click="tvchannels()">
                        <i class="icon ion-videocamera"></i> Local Info
                    </a>



                </div>
            </ion-content>

        </ion-view>
    </script>



    <script id="templates/PreArrival.html" type="text/ng-template">
        <ion-view view-title="Pree arival">
            <ion-content>
                <div class="list card">

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Direction
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Parking
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Special Request
                    </a>
                </div>
            </ion-content>
        </ion-view>
    </script>


    <script id="templates/checkin.html" type="text/ng-template">
        <ion-view view-title="checkin">
            <ion-content>
                <div class="list card">

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Request Early Check - In
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Request Late Check - Out
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Express Check-Out
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Group Chat
                    </a>

                </div>
            </ion-content>
        </ion-view>
    </script>


    <script id="templates/guestservice.html" type="text/ng-template">
        <ion-view view-title="checkin">
            <ion-content>
                <div class="list card">

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Set Wakeup Call
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Housekeeping
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> maintenance / Repair
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i>Bell & Luggage Service
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i>Other Request
                    </a>

                </div>
            </ion-content>
        </ion-view>
    </script>


    <script id="templates/health.html" type="text/ng-template">
        <ion-view view-title="health">
            <ion-content>
                <div class="list card">

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Fitness Center
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Local Fitness Centers
                    </a>
                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i> Take A Hike
                    </a>


                </div>
            </ion-content>
        </ion-view>
    </script>


</body>