<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->





    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/route.js"></script>
    <script src="js/controller.js"></script>

</head>

<body ng-app="ionicApp">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
        <ion-view view-title="Sign-In">
            <ion-content>


                <div class="list padding">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="John">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type="text" placeholder="Suhr">
                    </label>

                </div>
                <div class="padding text-center">
                    <button class="button button-royal ion-log-in" ng-click="signIn()">
                        Sign-In
                    </button>
                    <p class="text-center padding">
                        <a class="button button-stable" ng-click="registrationclick()">Registration</a>
                    </p>

                </div>
            </ion-content>
        </ion-view>
    </script>


    <!--    -->
    <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="home">

            <ion-content>


            </ion-content>



        </ion-view>
    </script>


    <!--    -->

    <script id="templates/showqr.html" type="text/ng-template">
        <ion-view view-title="showqrCtrl">

            <ion-content>
            </ion-content>

        </ion-view>
    </script>



    <script id="templates/register.html" type="text/ng-template">
        <ion-view view-title="Form">

            <ion-content>

            </ion-content>




        </ion-view>
    </script>


</body>